* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
} 

div {
    background-color: #fff;
    border-radius: 5px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
    display: flex;
    padding: 20px 150px;
    flex-direction: column;
    background-color: #e4e4e4;
}

header {
    display: flex;
    height: 60px;
    background-color:rgb(29, 131, 255);
    color: #fff;
    margin: 10px;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
}

main {
    flex: 1;
    flex-direction: column;
    min-width: 1200px;
}

article{
    margin: 40px;
}

.products {
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid #b9b9b9;
    border-top: 1px solid #b9b9b9;
    margin: 10px;
}

.item {
    width: 100%;
    max-width: 400px;
    height: 250px;
}

.text-items {
    text-align: center;
}

.border {
    border-left: 4px solid rgb(29, 131, 255);
    margin-left: 30px;
}
.border-indent {
    margin: 20px;
}

.line {
    border-bottom: 1px solid #b9b9b9;
    padding-bottom: 30px;
    padding-top: 10px;
}

h2 {
    line-height: 1.5;
}

footer {
    display: flex;
    height: 50px;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 0 0 0 10px;
}
